body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card {
  width: 200px;
  float:left;
  margin: 10px;
}
.flight-number {
  color: blue;
}
.plane-icon-east {  
  transform: rotate(45deg);
  color:lightblue;
}
.plane-icon-west {
  transform: rotate(-135deg);
  color:blue;
}